
/* header */

.header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    box-shadow: 0 .5rem rgba(0,0,0,0.1);
}

.header .logo img {
    margin-top: 10px;
    height: 80px;
    display: inline-block;
    border-radius: 5%;
}

.search-bar {
    display: flex;
    gap: 0.5rem;
}

.search-bar input {
    padding: 0.5rem;
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
}

.search-bar button {
    padding: 0.5rem 1rem;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header .headbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #666;
}

.header .headbar a:hover {
    color: #fff;
    background: linear-gradient(120deg, #f07c8c 40%, #1c7b3d);
}

.header .menubtn button {
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
    border-radius: 10px;
    cursor: pointer;
}

/* header */